a {
  text-decoration: unset;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}

.MuiPopover-root {
  z-index: 9999 !important;
}

.MuiTooltip-popper {
  z-index: 10000 !important;
}

.w-max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.w-min-content {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.MuiModal-root {
  z-index: 4200 !important;
}

div[aria-labelledby="modal-custom"] .MuiBackdrop-root {
  background-color: rgba(244, 244, 244, 0.8) !important;
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
}

.Toastify__toast {
  border-radius: 8px;
  display: 'flex';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 200px;
  height: 40px;
  padding-right: 50px;
}

.Toastify__close-button {
  position: absolute;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.Toastify__close-button > svg {
  fill: #6F767E;
  height: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@-webkit-keyframes loadingButton {
  to {
    opacity: 0.5;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes loadingButton {
  to {
    opacity: 0.5;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=main.css.map */